.goButton {
    border: 1px solid black;
    width:20%;
    height:60px;
    left:50%;
    position:relative;
    background:white;
    font-size:20px;
    display:block;
    transform:translate(-50%, 0);
}
.goButton:hover {
    background:#DCEEFF;
    z-index:10;
}
.goButton span:after {
    content: '\00bb';
    font-size:20pt;
    position: fixed;
    opacity: 0;
    top: 12px;
    right: 0px;
    transition: 0.5s;
}

.goButton:hover span {
    padding-right: 20px;
}

.goButton:hover span:after {
    opacity: 1;
    right: 50px;
}

